#tol {
    width: 570px;
    background: -webkit-linear-gradient(#ececec, #ffffed);
}

#feather {
    color: #5c9815;
}

#concept {
    color: #f26522;
}

span {
    color: white;
}

#first {
    background: #125e59;
}

#second {
    background: #369660;
}

#third {
    background: #0183b3;
}

#fourth {
    background: #3a95d7;
}

#fifth {
    background: #021a55;
}

#sixth {
    background: #f37126;
}

#seventh {
    background: #bc1316;
}

#eighth {
    background: #d63666;
}

#ninth {
    background: #a70632;
}

#tenth {
    background: #a80834;
}

#eleventh {
    background: #511064;
}
